<%# At the root of your web app (at the / url), you should display your cookbook’s recipes in an unordered list.

Under the list of recipes, add a navigation link (<a>) to the /new url, that we’ll use for the create user story. %>
<h2>My Recipes</h2>
<ul class="list-group">
<% @recipes.each_with_index do |recipe, i| %>
  <li class="list-group-item d-flex flex-row">
    <span class="flex-grow-1"><%= recipe.name %></span> <a href="/destroy/<%= i %>" class="btn btn-outline-danger btn-sm">destroy</a>
  </li>
<% end %>
</ul>

<a href="/new" class="btn btn-primary my-2 mx-1">new recipe</a>
<a href="/import" class="btn btn-primary my-2 mx-1">import from allrecipes</a>
