<form action="/create" method="post">
  <label for="name">Recipe title</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="description">Description</label><br>
  <input type="text" id="description" name="description"><br><br>
  <label for="prep_time">Prep time (minutes)</label><br>
  <input type="text" id="prep_time" name="prep_time"><br>
  <label for="rating">Rating</label><br>
  <input type="number" id="rating" name="rating" min="1" max="5"><br>

  <input type="submit" value="Submit">
</form>
